.booking-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: lightgrey;
    width: 600px;
    height: 600px;
    margin: 2rem auto;
    padding: auto;
    border-radius: 16px;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: auto;
}

.form-row:first-child {
    margin-top: 2rem;
}

.form-row label {
    font-weight: bold;
    color: black;
    font-family: 'Markazi Text', serif;
    width: 100px;
}


.radio-label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;
    font-family: 'Markazi Text', serif;
    margin-bottom: 1rem;
}


.radio-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.booking-form input {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 200px;
}

.form-row select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 220px;
}


.booking-image {
    width: 400px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-container button {
    padding: 0.75rem;
    border-radius: 16px;
    border: none;
    background-color: var(--primary-color1);
    color: black;
    cursor: pointer;
    width: 200px;
    align-self: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.button-container button:disabled {
    background-color: rgb(160, 151, 151);
    cursor: not-allowed;
}

.button-container button:active {
    animation: buttonClick 0.3s;
}

@keyframes buttonClick {
    0% {
        background-color: #388e3c;
    }

    50% {
        background-color: #43a047;
    }

    100% {
        background-color: #388e3c;
    }
}