.booking-confirmed-image {
    width: 400px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    margin: 2rem auto;
    align-items: center;
}

.booking-confirmed-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    background-color: var(--primary-color2);
    width: 400px;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 16px;
}

.booking-table {
    border-collapse: collapse;
    width: 100%;
    background-color: beige;
    color: black;
}

.booking-table th,
.booking-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-family: 'Markazi Text', serif;
}