.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-right: 100px;
    gap: 20rem;
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0.5rem;
    }
}


.right-content .img1,
.right-content .img2 {
    position: relative;
    width: 300px;
    height: 200px;
}

.img1 {
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1;
}

.img2 {
    position: absolute;
    top: 0px;
    right: 20px;
}