.hero-grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-bottom: 2rem;
    background-color: var(--primary-color2);
    justify-items: center;
}

@media (max-width: 768px) {
    .hero-grid-1 {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0.5rem;
    }
}

.hero-grid-1 img {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 350px;
    height: 400px;
    border-radius: 16px;
}


.hero-grid-1 .left-content h1 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-left: 5rem;
}

.hero-grid-1 .left-content h2 {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    margin-left: 5rem;
}

.hero-grid-1 .left-content p {
    font-size: 1.2rem;
    margin-bottom: 5rem;
    margin-left: 5rem;

}

.hero-grid-1 .left-content button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: var(--primary-color1);
    color: black;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-left: 5rem;
}

.hero-grid-2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    background-image: linear-gradient(rgba(90, 83, 83, 0.8), rgba(102, 95, 95, 0.8)), url('../assets/images/restaurant.jpg');
    background-size: cover;
    justify-items: center;

}

.hero-grid-2 p {
    color: #1F4528;
    font-weight: bold;
}

.hero-grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    background-image: linear-gradient(rgba(90, 83, 83, 0.8), rgba(102, 95, 95, 0.8)), url('../assets/images/restaurant.jpg');
    background-size: cover;
    justify-items: center;

}