.nav-list {
    display: grid;
    grid-auto-flow: column;
    gap: 12rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .nav-list {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0.5rem;
    }
}

a {
    text-decoration: none;
    color: black;
}