#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --primary-color1: #F4CE14;
    --primary-color2: #495E57;
    --secondary-color1: #EE9972;
    --secondary-color2: #FBDABB;
    --secondary-color3: #EDEFEE;
    --secondary-color4: #333333;
}


.display-typeface {
    font-family: 'Markazi Text', serif;
    font-size: 64px;
    font-weight: medium;
    color: var(--primary-color1);
}

.subText-typeface {
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    font-weight: medium;
    color: var(--secondary-color3)
}